{% extends 'base.html' %}
{% block title %}{{ brand.nome_marca }} - Nossa História{% endblock %}
{% block meta_description %}{{ brand.bio }}{% endblock %}
{% block meta_keywords %}{{ brand.nome_marca }}{% endblock %}
{% block meta_author %}Wilker Santos{% endblock %}
{% block meta_robots %}index, follow{% endblock %}
{% block content %}
<div class="container">
    <img src="{{ brand.logotipo.url }}" alt="Logo" class="logo">
    <h1 class="title">{{ brand.nome_marca }}</h1>
    <p>{{ brand.bio }}</p>
    <a href="{% url 'public_profile' brand.slug %}" class="btn btn-warning"> ↩️ Voltar</a>
</div>
{% endblock %}