{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <img src="{{ brand.logotipo.url }}" alt="Logo" class="logo">
        <div class="title">{{ brand.nome_marca }}</div>
        <p>{{brand.descricao}}</p>
        <p>Visualizações: {{ brand.total_visualizacoes }}</p>
        <a href="{% url 'bio' brand.slug %}" class="link">Nossa História</a>
        {% for link in links %}
            <a href="{{link.url}}" 
               class="link" 
               data-link-id="{{link.id}}">
                <i class="bi bi-{{link.url_type}}"></i> 
                {{link.title}}
            </a>
        {% endfor %}
    </div>
{% endblock %}